.container {
  border-radius: 1rem;
  background-color: var(--white-color);
  padding: 0.5rem;
  display: flex;
  width: max-content;
  align-items: center;

  img {
    margin-right: 0.5rem;
    width: 16px;
    height: 16px;
    margin-left: 4px;
  }

  &:hover {
    color: white;
    background-color: var(--bam-olive);
  }
}